<div class="header">
  <ul class="ulist">
     <li>Welcome</li>
     <li>Portfolio</li>
     <li>Blog</li>
     <li>About</li>
     <li>Contact</li>
  </ul>
  <div>
     <h1 class="name">Dimitri Granados</h1>
  </div>
  
</div>
<div class="main">
  <div class="text">
    <p>HI! <div class="dimitri">I’M Dimitri</div>  dancing is a way <br> in which I express myself.</p>
  </div>
  <img src="https://scontent-lax1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11428727_890178434395171_7727744412874961831_n.jpg?oh=b70d12d9b7e845c84520014605dc15ed&oe=561FEEA1" class="picture">
  
  
  <div class="bottom">
      <a href="facebook.com" >View my Work</a>
    </div>
   <div class="copyright">
  <a href="https://github.com/redimy/dimitri" id="github"><img src="https://xdxjzg.by3301.livefilestore.com/y2pE8FvhgeQf9hVlt-01DutXaseL0J75hh4OlMYU--ksyN1oO7sgQcBehaUDpB-i7MWtJEY8Iw5tE84FA_uy9siJY4iNEDwdcKfNrjH_zcxezTAUtSyhN_FxoYx395FW6XTWtu5ZuNAMUiyna5VLqv17BDaARa_JRnLtSGXL44INes/socialnetwork133.png"></a>
<a href="https://mx.linkedin.com/pub/gilberto-dimitri-granados-reyes/bb/b4a/569" id="linkedin"><img src="https://xdxjzg.by3301.livefilestore.com/y2pzJill9e_7viAPRTAx0gkSM4ImRgRfK9tkNExtjTnD_QcyNeu04NXbpM-4NsrByKWhrTRmHuSzJXyX_cF64ZRprCjktLL1RSRIsGdW9tA1OCBWiiR4VO1DenLb9O8cZZoTtjo6_YPczLC3NC4yvemVg9kKkS0x3H5pOfRchptyxQ/linkedin1.png?psid=1g"></a>
<a href="https://www.facebook.com/bboydimy" id="facebook"><img src="https://xdxjzg.by3301.livefilestore.com/y2ptV9gZLbY06XLLhDnYlr6N9V1NQPaZ0kiMDOcQhn0jYFdSRKDmqy-_PL09zIq7twEtbne0-f_ZkRrYEH5ubt7D1JOwZQvi5L-OhLd03cI2seh4BkVPgELRqYNlE1horKTHv8H9neQnMnKZHEAbGck0XcCFKIO1_SUjNkzFuLrhPc/facebook2.png?psid=1"></a>
 <p>© 2015 Dimitri Granados</p> 
</div>

</div>